body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profilepic {
  height:100px;
  width:100px;
  border-radius: 50%;
 }

 .backgroundGray {
   background-color: rgb(228, 238, 240);
 }

 .footerlink {
  text-decoration: none !important;
}

.borderRight {
  border-right: 2px, solid, black;
}
